<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Create Users</title>
</head>
<body>
<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="card">
        <div class="card-header bg-light">
            <h1>Add new user</h1>
        </div>
        <form th:method="POST" th:action="@{/admin/createuser}" th:object="${user}">
            <div class="card-body">
                <div class="mx-auto text-center" style="width: 300px;">

                    <div class="form-group">
                        <label for="firstName" class="form-label"><strong>First name</strong></label>
                        <input type="text" class="form-control" id="firstName"
                               th:field="*{firstName}" placeholder="First name">
                    </div>

                    <div class="form-group">
                        <label for="username" class="form-label"><strong>Username</strong></label>
                        <input type="text" class="form-control" id="username"
                               th:field="*{username}" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="form-label"><strong>Last name</strong></label>
                        <input type="text" class="form-control" id="lastName"
                               th:field="*{lastName}" placeholder="Last name">
                    </div>

                    <div class="form-group">
                        <label for="age" class="form-label"><strong>Age</strong></label>
                        <input type="number" class="form-control" id="age" th:field="*{age}" placeholder="Age">
                    </div>

                    <div class="form-group">
                        <label for="email" class="form-label"><strong>Email</strong></label>
                        <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label"><strong>Password</strong></label>
                        <input type="password" class="form-control" id="password"
                               th:field="*{password}" placeholder="Password">
                    </div>

                    <label for="role">Select role:</label>
                    <select id="role" name="role">
                        <option value="ROLE_USER">User</option>
                        <option value="ROLE_ADMIN">Admin</option>
                    </select>

                    <button type="submit" class="btn btn-success">Add new user</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>








